footer {
  background-color: #353535;
  .container {
    display: flex;
		flex-direction: column;
		gap: 0.5rem;
		height: 13.5rem;
		margin-left: 2rem;
    background-color: #353535;
}
i {
  margin-right: 0.8rem;
}
a {
  color: white;
  text-decoration: none;
  font-family: roboto;
  font-size: 1.1rem;
}
p {
  font-size: 1.3rem;
  margin-left: 0;
  font-family: shrikhand;
  text-decoration: none;
  }
}
@media only screen and (min-width: 768px) {
	footer {
		.container {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			margin: 1rem;
		}
	}
}