.btn {
  background-image: linear-gradient(#ff79da 0%, #9356dc 100%);
  border: 0px solid #1c6ea4;
  border-radius: 3rem;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  color: white;
  display: inline-block;
  font-family: roboto;
  font-size: 1.2rem;
  height: 3.2rem;
  line-height: 0.5rem;
  padding: 1.5rem;
  width: 15rem;
  &:hover {
		transition-duration: 500ms;
		box-shadow: -1px 4px 10px 5px rgba(0, 0, 0, 0.4)
  }

&__order {
  height: 3rem;
  line-height: 0.1rem;
  margin: 4rem auto;
  width: 11.5rem;
}
}


